body {
    position: relative;
    width: 680px;
    height: 1382px;
    background: #FCF9F9;
    border-radius: 40px;
}

#columnone {
    width: 100px;
    height: 100px;
}

#bold {
    position: relative;
    text-align: left;
    width: 204px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    color: #0C1014;
}

#regular {
    position: relative;
    width: 290px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #515759;
}

#circle {
    height: 40px;
    width: 40px;
    padding: 5px;
    border-radius: 50%;
    color: #fff;
    font-size: 1.1em;
    font-weight: 600;
    background-color: #FCF9F9;
    border: 1.5px solid #1890FF;
    z-index: 1;
}

#arrow {
    color: #1890FF;
    font-size: 55px;
    z-index: 2;
    position: relative;
    top: -12px;
    left: 7px;
}

a {
    text-decoration: none;
}

#table {
    top: 20px;
    margin: 100px 0 0 0;
    border-spacing: 20px;
}